<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DonationsHack</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/one-page-wonder.css" rel="stylesheet">

  </head>

  <body>

    <header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white">DonationsHack</h1>
          <h2 class="display-4 text-white">What do you want to donate today?</h2>
        </div>
      </div>
    </header>

    </br>

    <section id="categories">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12">
            <h2 class="display-4 text-info">Item Category</h2>
          </div>
        </div>
      </div>
    {% for category in categories %}
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-2 text-left">
            <div class="p-2">
              <a class="display-5 text-muted" href="/{{ category }}">{{ category }}</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </section>

    </br>

    <section id="locations">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12">
            <h2 class="display-4 text-info" data-toggle="collapse" data-target="#locationInfo">Included locations</h2>
          </div>
        </div>
      </div>
      <div id="locationInfo" class="collapse">
        {% for location in locations %}
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-2 text-center">
                <div class="p-2">
                  <a class="display-6 text-muted">{{ location.Name }}</a>
                </div>
              </div>
              <div class="col-md-2 text-center">
                <div class="p-2">
                  <a class="display-6 text-muted">{{ location.Phone }}</a>
                </div>
              </div>
              <div class="col-md-2 text-center">
                <div class="p-2">
                  <a class="display-6 text-muted">{{ location.Hours }}</a>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="p-2">
                  <a class="display-6 text-muted">{{ location.Address }}</a>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="p-2">
                  <a class="display-6 text-muted" href="{{ location.Website }}">website</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    </br>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; DonationsHack 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
